In [19]:
import requests

# Login

In [51]:
######## ADMIN ACCOUNTS ###############

loginURL = "http://127.0.0.1:8000/account/login/"
data = {
    "username":"Nayeem",
    "password":"password",
}

response = requests.post(loginURL,data=data)
print(response.text)
response.status_code

{"access":"7c729a12546ab13206a31e6222a336712cac2449","userType":"Admin"}

200

In [52]:
######## BA ACCOUNTS ###############

loginURL = "http://127.0.0.1:8000/account/login/"
data = {
    "username":"BA1",
    "password":"N@17151037",
}

response = requests.post(loginURL,data=data)
print(response.text)
response.status_code

{"access":"813e547701702b6124b1469f22eeed061629075e","userType":"BA"}

200

# Create Campaign & Get List of Campaign

In [67]:
######## Campaign List ###############

campaignList = "http://127.0.0.1:8000/campaign/campaign-list"
headers = {
    'Authorization': 'Token 7c729a12546ab13206a31e6222a336712cac2449',
}

response = requests.get(campaignList, headers=headers)
print(response.text)
response.status_code

{"count":0,"next":null,"previous":null,"results":[]}

200

In [69]:
######## Create Campaign ###############

createCampaign = "http://127.0.0.1:8000/campaign/create-campaign/"
headers = {
    'Authorization': 'Token 7c729a12546ab13206a31e6222a336712cac2449',
}
data={
    "name":"CreatedDemo4",
    "status":"PENDING",
    
}


response = requests.post(createCampaign, headers=headers,data=data)
print(response.text)
response.status_code

{"message":"Campaign has been created!"}

201

# Campaign Status

In [37]:
######## Create Campaign ###############

campaignStatus = "http://127.0.0.1:8000/campaign/campaign-status/"
headers = {
    'Authorization': 'Token 7c729a12546ab13206a31e6222a336712cac2449',
}
data={
    "CampaignID":2,
    "Status":"RUNNING",
    }


response = requests.post(campaignStatus, headers=headers,data=data)
print(response.text)
response.status_code

{"message":"Changed Campaign Status!"}

200

# Create Questions

In [8]:
######## Create Question ###############

createquestions = "http://127.0.0.1:8000/campaign/create-questions/"
headers = {
    'Authorization': 'Token 7c729a12546ab13206a31e6222a336712cac2449',
}

choicesList = ["Nayeem","NoName","NoMan","Nasim"]
data={
    "campaignName":"CreatedDemo1",
    "question":"Image?",
#     "type":"Multiple Choice",
#     "type":"Text",
    "type":"File",
#     "choices[]":choicesList,
    
}


response = requests.post(createquestions, headers=headers,data=data)
print(response.text)
response.status_code

{"message":"Question Created!"}

201

# GET Campaign For BA

In [36]:
######## Campaign List ###############

campaignForBA = "http://127.0.0.1:8000/campaign/get-campaign/"
headers = {
    'Authorization': 'Token ee49bddd07f542337fc973b9d74f1c9b543356ae',
}

response = requests.get(campaignForBA, headers=headers)
print(response.text)
response.status_code

[{"id":1,"choices":[{"id":1,"text":"Nayeem","question":1},{"id":2,"text":"NoName","question":1},{"id":3,"text":"NoMan","question":1},{"id":4,"text":"Nasim","question":1}],"question_type":"Multiple Choice","text":"What's your Name?","created_at":"2023-03-14T07:45:01.570314Z","updated_at":"2023-03-14T07:45:01.570314Z","campaign":2},{"id":2,"choices":[],"question_type":"Text","text":"City?","created_at":"2023-03-14T07:48:05.000241Z","updated_at":"2023-03-14T07:48:05.000241Z","campaign":2},{"id":3,"choices":[],"question_type":"File","text":"Image?","created_at":"2023-03-14T07:49:22.387433Z","updated_at":"2023-03-14T07:49:22.387433Z","campaign":2}]

200

# Create Survey

In [27]:
######## Create Survey [For BA] ###############

createSurvey = "http://127.0.0.1:8000/campaign/create-survey/"
headers = {
    'Authorization': 'Token ee49bddd07f542337fc973b9d74f1c9b543356ae',
}
data={
    "participant_name": "NoName",
    "participant_phone": "8801781912704",
    "age" :"25-30",
    "profession": "Student"
    
}


response = requests.post(createSurvey, headers=headers,data=data)
print(response.text)
response.status_code

{"message":"Participant Already Exists!"}

306

# Submit OTP

In [35]:
######## Submit OTP [For BA] ###############

submitOTP = "http://127.0.0.1:8000/campaign/submit-otp/"
headers = {
    'Authorization': 'Token ee49bddd07f542337fc973b9d74f1c9b543356ae',
}
data={
    "otp": "539944",
    "participant_id":5,
    }


response = requests.post(submitOTP, headers=headers,data=data)
print(response.text)
response.status_code

{"message":"OTP Matched!"}

200

# Submit Survey

In [20]:
import json

questionList = ["What's your Name?","City?","Image?"]
answerList = ["Nayeem","Dhaka","Null"]

# create a list of question-answer objects
data = []
for i in range(len(questionList)):
    question = questionList[i]
    answer = answerList[i]
    data.append({"question": question, "answer": answer})

# convert the list to JSON format
json_data = json.dumps(data)

print(json_data)

[{"question": "What's your Name?", "answer": "Nayeem"}, {"question": "City?", "answer": "Dhaka"}, {"question": "Image?", "answer": "Null"}]

In [23]:
response = json_data

######## Submit Survey [For BA] ###############

submitSurvey = "http://127.0.0.1:8000/campaign/submit-survey/"
headers = {
    'Authorization': 'Token ee49bddd07f542337fc973b9d74f1c9b543356ae',
}
data={
    "survey_response" : json_data,
    "participant_id" : 6,
    "signature": "True"
    
    }


response = requests.post(submitSurvey, headers=headers,data=data)
print(response.text)
response.status_code

{"message":"Successfull!"}

200

# Download Report

In [32]:
import pandas as pd

url = "http://127.0.0.1:8000/campaign/download-report/?Token=7c729a12546ab13206a31e6222a336712cac2449&Date=2023-03-14&CampaignID=2"
df = pd.read_csv(url)
df = df.dropna()
df

,PK,Campaign ID,Campaign Name,Campaign Status,Surveyer,Region,Area,Territory,participant__id,participant_name,Participant Phone,Signature,Profession,question__text,text_Answer,Date,City?,Image?,What's your Name?
0,19,2.0,CreatedDemo1,RUNNING,BAABC1,Dhaka,North,abc,6.0,xyz,1.234568e+08,True,student,Image?,Null,2023-03-15 11:48:27.487432+00:00,Dhaka,Null,XYZ Islam
1,16,2.0,CreatedDemo1,RUNNING,BAABC1,Dhaka,North,abc,5.0,NoName,8.801782e+12,True,Student,Image?,Null,2023-03-15 11:42:04.206999+00:00,Dhaka,Null,Nayeem Islam

In [11]:
data_unique = df.drop_duplicates(subset=['participant__id'], keep="first")
data_unique

,PK,campaign_id,campaign__name,campaign__status,surveyer__user__username,participant__id,participant__participant_name,question__text,text_Answer,created_at
0,19,2.0,CreatedDemo1,RUNNING,BAABC1,6.0,xyz,Image?,Null,2023-03-15 11:48:27.487432+00:00
3,16,2.0,CreatedDemo1,RUNNING,BAABC1,5.0,NoName,Image?,Null,2023-03-15 11:42:04.206999+00:00

In [8]:
df_pivot = df.pivot(index='participant__id', columns='question__text', values='text_Answer')
df_pivot

question__text   City? Image? What's your Name?
participant__id
5.0              Dhaka   Null            Nayeem
6.0              Dhaka   Null            Nayeem

In [13]:
# use merge to join the DataFrames on the 'ID' column
merged_df = pd.merge(data_unique, df_pivot, on='participant__id')
merged_df

,PK,campaign_id,campaign__name,campaign__status,surveyer__user__username,participant__id,participant__participant_name,question__text,text_Answer,created_at,City?,Image?,What's your Name?
0,19,2.0,CreatedDemo1,RUNNING,BAABC1,6.0,xyz,Image?,Null,2023-03-15 11:48:27.487432+00:00,Dhaka,Null,Nayeem
1,16,2.0,CreatedDemo1,RUNNING,BAABC1,5.0,NoName,Image?,Null,2023-03-15 11:42:04.206999+00:00,Dhaka,Null,Nayeem